header {
    background-color: #E1EEFF;
    height: 657px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.nav_list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav_link {
    font-weight: 400;
    font-size: 20px;
    color: #0D2B46;
    transition: 1s;
}

.nav_link:hover {
    color: #0360D9;
    border-bottom: 3px solid #0360D9;
}

.nav_btn_div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.log_in {
    font-weight: 600;
    font-size: 20px;
    color: #0360D9;

    padding: 12px 33px;
    border: 1px solid #0360D9;
    border-radius: 50px;
    background-color: transparent;
}

.sign_up {
    font-weight: 600;
    font-size: 20px;
    color: white;

    padding: 12px 33px;
    border: none;
    border-radius: 50px;
    background-color: #0360D9;
}

.header_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_main_left {
    width: 46%;
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    margin-top: 100px;
}

.header_main_left h2 {
    font-weight: 700;
    font-size: 50px;
    width: 90%;
}

.header_main_left h2 section {
    color: #0360D9;
    width: 45%;
    display: inline-flex;
    flex-direction: column;
}

.header_main_left h2 section img {
    width: 90%;
    margin-bottom: 35px;
}

.header_main_left p {
    font-weight: 400;
    font-size: 16px;
    color: #163048;
    width: 75%;
}

.header_main_left_search {
    background-color: white;
    padding: 10px ;
    border-radius: 50px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.doctors_name {
    padding-left: 20px;
}

.doctors_name, .location {
    display: flex;
    align-items: center;
    gap: 8px;
}

.doctors_name p, .location p {
    font-weight: 400;
    font-size: 16px;
}

.user {
    font-size: 20px;
}
.loocation {
    font-size: 30px;
}

.search {
    background-color: #0360D9;
    border-radius: 50%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: white;
}

.header_main_right {
    width: 52%;
}
.header_main_right img {
    width: 100%;
    margin-top: 80px;
}

.header_sec {
    background-color: #0360D9;
    padding: 15px 0;
    text-align: center;
}

.header_sec_list {
    display: flex;
    align-items: center;
    gap: 70px;
}

.header_sec_list li {
    display: flex;
    flex-direction: column;
}

.border_li {
    border-right: 1px solid white;
    padding: 0 50px 0 0 ;
}

.header_sec_list li h2 {
    font-weight: 700;
    font-size: 64px;
    color: white;
}

.header_sec_list li p {
    font-weight: 400;
    font-size: 16px;
    color: white;
}