.container{
    width: 1200px;
    margin: 0 auto;
    
}

.name_page{
    color: rgba(46, 46, 46, 1);
    font-family: sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
}

.big_ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_1{
    width: 255px;
    height: 255px;
    top: 1122px;
    left: 120px;
    border-radius: 20px;
    border: 2px solid rgba(94, 94, 94, 0.648);
    padding-left: 22px;
    padding-top:32px;
    padding-bottom: 30px;
    padding-right: 10px;
    transition: all ease 0.8s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}




.h3t{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
}

.card_1 img {
    width: 32px;
    height: 32px;
    background: rgba(3, 96, 217, 1);
    background: rgba(230, 245, 252, 1);
    object-fit: contain;
    padding: 30px;
    border-radius: 50%;
}

.card_1 p {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

}

.card_1:hover{
    background-color: rgba(3, 96, 217, 1);
    color:rgba(255, 255, 255, 1) ;
}