.subscribe_card {
    background-color:#0360D9;
    width: 1000px;
    color: white;
    border-radius: 10px;
    height: 250px;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    margin: 0 auto;
    width: 80%;
}

.h1_footer { 
    top: 10px;
}

.btn_card {
    width: 700px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: white;
}

.btn_into {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #0360D9;
    position: absolute;
    top: 26%;
    left: 72%;
    color: white;
}

footer {
    background-color: #0360D9;
    color: white;
}

.h2_1 {
    display: flex;
    justify-content: space-around;
}

.h2_2 {
    display: flex;
    justify-content: space-around;
}

.footer_p {
    text-align: center;
}

.btn_footer {
   text-align: center;
   height: 0px;
    background-color: white;
}

