.subscribe_card{
    background-color:#0360D9;
    width: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 10px;
    height: 350px;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    margin: 0 auto;
    width: 80%;
    margin-top: 120px;
}

.btn_into{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #0360D9;
    color: white;
    border: none;
     font-family: "DM Serif Display", serif; 
     font-weight: 900;
}

.input_form_b{
    width: 818px;
    padding: 10px;
    border: none;
    background-color: transparent;
    border-radius: 25px;
     font-size: 13px;
    font-family: "DM Serif Display", serif; 
}

.salom_h2{

}




.h1_footer { 
    top: 10px;
}

.btn_card {
    width: 700px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: white;
}
.font_h2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 35px;
    font-family: "DM Serif Display", serif; 
}

.font_form{
    width: 956px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 45px;
}


footer {
    
    background-color: #0360D9;
    color: white;
    padding-top: 97px;
}

.hammasi{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user_ul_list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 60px;
}

.h2_1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.h2_2 {
    display: flex;
    justify-content: space-around;
}

.footer_p {
    text-align: center;
    margin-bottom: 60px;
}

.btn_footer {
   text-align: center;
   height: 0px;
   background-color: white;
}


 .map_h2{
    padding-bottom: 30px;
}

.salom_h2{
    margin-top: 30px;
    padding-bottom: 40px;
}

.user_h2{
    padding-bottom: 38px;
}


