
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

ul , a {
    list-style: none;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    list-style: none;
    text-decoration: none;
    font-family: "DM Serif Display", serif;   
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}
