* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    list-style: none;
    text-decoration: none;
    font-family: "DM Serif Display", serif;   
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}